<!-- <ul>
    <li *ngFor='let quote of quotes'>
      {{quote.name}}
      <app-quote-details [quote]='quote'></app-quote-details>
    </li>
</ul> -->


<div style="text-align:center">
  <h1>
    Welcome to Quote app{{ title }}!
  </h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUNn_h6CuYhdvesFHHlVeWqAWs0Mq1qpqaHr6t5PkQ0LEErvdy"
    width="300" alt="Angular Logo">
</div>

<div>
  <h1>My insipiration Quote</h1>
  <!-- <p>this is inspiration is {{quote }}</p>  -->


  <div *ngFor='let quote of quotes;let i = index' >
         
          <ul>
            <li>{{quote.name}} due on{{quote.completeDate|date|uppercase}}  </li>
          </ul>
        <button (click)='
    toggleDetails(i)'>Quote Details</button>
    <button (click)='
                    likes(i)'>likes</button>
                    <button (click)='
                    Dislikes(i)'>Dislikes</button>                
    <!-- {{quote.author}} -->
    <app-quote-details *ngIf='quote.showAuthor' [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-details>

  </div>