<form>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="author">author</label>
            <textarea class="form-control" id="author" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="delete">erase</label>
            <input type='date' id="deleted" required>
  
        </div>
    </form>